#tag-bar {
  height: 10vh;
  background: rgb(0, 0, 53);
  display: flex;
  /* justify-content: space-around; */
  align-items: flex-end;
}

.tag-wrapper {
  list-style-type: none;
  display: inline;
}

.tag-element {
  color: rgb(225, 227, 181);
  text-decoration: none;
  display: inline;
  padding: 10px;
  font-size: 15pt;
}

li:hover {
  background-color: #555;
  color: rgb(222, 77, 103);
}
#UT-header {
  background: #dedede;
  margin: 0;
  padding: 5px;
  text-align: center;
}

#post-info {
  display: flex;
  flex-flow: column;
  align-items: left;
  background-color: #ffe3b5;
}

#post-info img {
  max-width: 75vw;
  max-height: 25vw;
}

.previewPicture {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}

h2 {
  color: rgb(0, 0, 53);
}

button.like-btn {
  position: absolute;
  right: 0;
  bottom: 0;
}

.plikes {
  position: absolute;
  right: 0;
  bottom: 1em;
}

img.previewPicture {
  border: 1px solid #ddd;
  border-radius: 0px;
  padding: 5px;
  height: 312px;
  width: 500px;
  flex-flow: column;
  align-items: flex-start;
}

.row {
  align-content: space-between;
  padding: 10px;
}

.row1 {
  flex-direction: row;
  align-items: flex-start;
}

.row2 {
  flex-direction: row;
  align-items: flex-end;
}

#form {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: #c4c2c2;
}

iframe {
  display: flex;
  flex-flow: row;
  align-items: center;
}
