#tag-bar {
  height: 10vh;
  background: rgb(0, 0, 53);
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
}

.tag-wrapper  {
  list-style-type: none;
  display: inline;
}

.tag-element {
  color: rgb(225, 227, 181);
  text-decoration: none;
 display: inline;
 padding: 10px;
 font-size: 15pt;
}

li:hover {
  background-color: #555;
  color: rgb(222, 77, 103);
}
#UT-header{
  background: #DEDEDE;
  margin: 0;
  padding: 5px;
  text-align: center;
}

#post-info {
  display: flex;
  flex-flow: column;
  align-items: left;
  background-color: #FFE3B5;
}

#post-info img {
  max-width: 75vw;
  max-height: 25vw;
}

.previewPicture {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}

h2 {
  color: rgb(0, 0, 53);
}
